body {
    background-color: #fdfffc;
    color: #011627;
    font-family: "Helvetica", "Arial", sans-serif;
}

button {
    font-size: 0.9rem;
    vertical-align: center;
    text-align: center;
    height: 1.5rem;
}

table {
    border: 0rem;
    margin: 0.3rem 0.3rem 0.8rem 0.3rem;
    padding: 0rem;
}

td {
    text-align: right;
    vertical-align: middle;
    padding: 0.3rem;
    margin: 0rem;
    border: 0.1rem solid #011627;
    font-family: "Lucida Console", "Courier New", monospace;
}

th {
    text-align: left;
    vertical-align: middle;
    padding: 0.3rem;
    margin: 0rem;
    border: 0.1rem solid #011627;
    font-weight: normal;
}

.mono {
    font-family: "Lucida Console", "Courier New", monospace;
}

.show_diff {
    color: #f71735;
    font-weight: bold;
}

.pc_ir_m_cycle {
    margin: 0.4rem;
    padding: 0rem 0.2rem 0.5rem 0.1rem;
}

.ram_import_export {
    margin: 0.5rem;
    text-align: center;
}

table.memory {
    border: 0.1rem solid #011627;
    margin: 0.5rem;
}

td.highlight_changed {
    background-color: #41ead4
}

td.mem_pc {
    border: 0.2rem solid #f71735;
}

td.mem_mar {
    border: 0.2rem solid #011627;
}

th.memory {
    border: 0rem;
}

th.mem_pc {
    border: 0.2rem solid #f71735;
}

th.mem_mar {
    border: 0.2rem solid #011627;
}

.circuit_spy {
    border-radius: 0.2rem;
    border: 0.1rem solid #011627;
    background-color: #ffe0b6;
    color: #011627;
    width: fit-content;
    overflow: hidden;
    font-size: 85%;
    padding: 0rem;

    /* CLOSED */
    /* height: 3.22rem; */

    /* OPEN */
    height: 28.6rem;
}

.circuit_spy_header {
    border-radius: 0.2rem;
    background-color: #41ead4;

    font-size: 120%;
    vertical-align: center;

    margin: 0.8rem 0.9rem 0rem 0.9rem;
    padding: 0.3rem;
}

/* floating div code based on: https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other */
#app_12bit_wrapper {
    width: fit-content;
    overflow: hidden;
}

#app_12bit_first {
    width: fit-content;
    float: left;
    margin: 0.5rem;
}

#app_12bit_second {
    width: fit-content;
    float: right;
    margin: 0.5rem;
}

[id*="app_12bit_memcell_"] {
    padding: 0.2rem;
    border: 0.2rem solid rgba(0,0,0,0.0);
    text-align: center;
}

#app_12bit_ram_import_export {
    width: 98%;
    height: 3.7rem;
    margin: 0rem 0rem 0.4rem 0rem;
}