body {
    background-color: #02071c;
    color: #eaf0f6;

    font-family: "Helvetica", "Arial", sans-serif;
}

button {
    font-size: 0.9rem;

    vertical-align: center;
    text-align: center;

    height: 1.5rem;
}

div.front_panel {
    width: 800px;

    margin: 1rem;
    padding: 0rem;

    border: 0rem;
    border-radius: 1rem;

    height: 393.9605110337px;
    
    background-image: url("./assets/front_panel.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    z-index: 10;
}

img.led {
    width: 31px;
    height: 31px;

    border: 0rem;

    margin: 0rem;
    padding: 0rem;

    opacity: 0.0;

    position: absolute;
}


img.slider {
    width: 37px;
    height: 36px;

    border: 0rem;

    margin: 0rem;
    padding: 0rem;

    opacity: 1.0;

    position: absolute;

    transform: none;

    transition: translate 0.1s;
}

img.button {
    width: 28px;
    height: 43px;

    border: 0rem;

    margin: 0rem;
    padding: 0rem;

    opacity: 0.0;

    position: absolute;

    transition: opacity 0.1s;
}

table {
    border: 0rem;

    margin: 0rem;
    padding: 0rem;
}

td {
    text-align: right;
    vertical-align: middle;

    border: 0.1rem solid #011627;

    padding: 0.05rem;
    margin: 0rem;

    background-color: #ffea65;

    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.74rem;
}

th {
    text-align: left;
    vertical-align: middle;

    background-color: #ffea65;

    border: 0.1rem solid #011627;

    padding: 0.3rem;
    margin: 0rem;

    font-weight: normal;
    font-size: 0.8rem;
}



.mono {
    font-family: "Lucida Console", "Courier New", monospace;
}

.show_diff {
    color: #f71735;

    font-weight: bold;
}

.pc_ir_m_cycle {
    color: #ffea65;

    font-weight: bold;

    margin: 0.9rem 0.3rem 0.9rem 0.3rem;
}

.ram_import_export {
    width: 22rem;

    text-align: center;

    margin: 0.1rem 0.1rem 0.1rem 2.5rem;
}

table.memory {
    border: 0.1rem solid #011627;
    margin: 1rem 0rem 0rem 0rem;
}

td.highlight_changed {
    background-color: #41ead4
}

td.mem_pc {
    border: 0.2rem solid #0d00ff;
}

td.mem_mar {
    border: 0.2rem solid #eb02fc;
}

th.memory {
    border: 0rem;
}

th.mem_pc {
    border: 0.2rem solid #0d00ff;
}

th.mem_mar {
    border: 0.2rem solid #eb02fc;
}


#app_12bit_circuit_spy {
    border-radius: 1rem;
    border: 0.3rem solid #0a4473;

    margin: 1rem;
    padding: 0.4rem;

    background-color: #005c84;
    color: #011627;

    width: 25.5rem;
    height: 23rem;

    position: absolute;
    top: 0rem;
    left: 23rem;

    visibility: hidden;

    transition: left 0.3s, height 0.3s;
    transition-delay: 0s, 1s;
    transition-property: left, height;

    z-index: 5;

    overflow: hidden;
}

[id*="app_12bit_memcell_"] {
    border: 0.1rem solid rgba(0,0,0,0.0);

    text-align: center;
}

#app_12bit_ram_import_export {
    width: 100%;
    height: 4rem;

    resize: none;

    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.93rem;
    
    margin: 0.1rem;
    padding: 0.2rem;
}