html {
    margin: 0px;
    height: 100%;
    width: 100%;

}

body {
    min-height: 100%;
    font-size: 90%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(206, 207, 235));
    font-family: "Helvetica", "Arial", sans-serif;
}

table {
    border: 0px;
    margin: 5px;
    padding: 0px;
}

td {
    text-align: right;
    vertical-align: middle;
    padding: 4px;
    margin: 0px;
    border: 1px solid black;
    font-family: "Lucida Console", "Courier New", monospace;
}

th {
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    margin: 0px;
    border: 1px solid black;
    font-weight: normal;
}

.mono {
    font-family: "Lucida Console", "Courier New", monospace;
}

.show_diff {
    color: #b6465f;
    font-weight: bold;
}

.pc_ir_m_cycle {
    margin: 6px;
    padding: 8px 2px 7px 2px;
}

table.memory {
    border: 1px solid black;
    margin: 7px;
}

td.highlight_changed {
    background-color: #8e8acd;
}

td.mem_pc {
    border: 2px solid #da9f93;
}

td.mem_mar {
    border: 2px solid #890620;
}

th.memory {
    border: 0px;
}

th.mem_pc {
    border: 3px solid #da9f93;
}

th.mem_mar {
    border: 3px solid #890620;
}

.circuit_spy {
    border-radius: 4px;
    border: 1px solid black;
    background-color: #f9eee9;
    width: fit-content;
}

.circuit_spy_header {
    border-radius: 4px;
    background-color: rgb(210, 231, 169);

    font-size: 120%;
    vertical-align: center;

    margin: 10px 11px 0px 11px;
    padding: 2px;
}

/* floating div code based on: https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other */
#app_12bit_wrapper {
    width: fit-content;
    overflow: hidden;

    /* CLOSED */
    /* height: 6px; */

    /* OPEN */
    height: 335px;
}

#app_12bit_first {
    width: fit-content;
    float: left;
    margin: 5px;
}

#app_12bit_second {
    width: fit-content;
    float: right;
    margin: 5px;
}

[id*="app_12bit_memcell_"] {
    padding: 2px;
    border: 2px solid rgba(0,0,0,0.0);
    text-align: center;
}