body {
    background-color:navy;
    color: rgba(255, 255, 255, 1.0);
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}

td.labels {
    font-weight: bold;
}

.registers {
    text-align: left;
    vertical-align: middle;
    border: 1px solid grey;
    padding: 4px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.mnemonic {
    font-family: "Lucida Console", "Courier New", monospace;
}

td.mem_pc {
    padding: 1px;
    border: 2px solid red
}

#app_12bit_memory {
    font-family: "Lucida Console", "Courier New", monospace;
}


/* floating div code based on: https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other */
#wrapper {
    width: fit-content;
    overflow: hidden;
}
#first {
    width: fit-content;
    float: left;
    margin: 5px;
}
#second {
    width: fit-content;
    float: right;
    margin: 5px;
}
